[submodule "libconfigfile"]
	path = submodules/libconfigfile
	url = git@github.com:jasper1378/libconfigfile
[submodule "submodules/liblocket"]
	path = submodules/liblocket
	url = git@github.com:jasper1378/liblocket
